.nav-tabs .nav-link.active {
  background-color: #1e202b8a;
  color: white;
  border-bottom: #1E202B solid 2px;
}
.nav-tabs {
  border: unset;
}
.nav-tabs .nav-link {
  border-radius: unset;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  -ms-border-radius: unset;
  -o-border-radius: unset;
  color: #1E202B;
}
.nav-control{
  box-shadow: 0 1px  rgba(0, 0, 0, 0.24);
}
.logo {
  width: 30px;
}
.logo-1 {
  width: 30px;
  height: 30px;
  margin-top: -10px;
}
